.graph{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.graph-controller{
  border-left: 1px solid black;
  height: 100%;
  display: flex;
  width: 20%;
  align-items: center;
  background-color: cadetblue;
  flex-direction: column;
}

.graph-content{
  display: flex;
  width: 80%;
  height: 100%;
  /* background-color: red; */
}

.node{
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.arrow-container{
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.path{
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.path h4 {
  color: red;
}